@model DEVELOP_3.Models.Carrito

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>¿Realmente desea eliminar este registro?</h3>
<div>
    <h4>Carrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" />
        </div>
    }
</div>
